<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zyhang.activitydeque">

    <application>
        <provider android:authorities="${applicationId}.lifecycle-activity-deque"
                  android:exported="false"
                  android:name=".ActivityDequeContentProvider"/>
    </application>
</manifest>
